/* ==== Colors ==== */

/* primary colors */
$color-primary-1: #b700ff;

/* secondary colors */

/* neutral dark colors */
$color-neutral-100: #342e2a;
$color-neutral-50: #ccc;
$color-neutral-00: #fff;

/* Utilities colors */
$color-warning: #fd2500;
$color-caution: #f39628;
$color-positive: #5fa662;
