/* Spacing */
$spacing-xxs: 0.25rem; // 4px
$spacing-xs: 0.5rem; // 8px
$spacing-s: 1rem; // 16px
$spacing-m: 1.5rem; // 24px
$spacing-ml: 2.25rem; // 36px
$spacing-l: 3rem; // 48px
$spacing-xl: 5rem; // 80px

$border-radius-s: 4px;
